<div class="feature container">
    <p class="text-primary"><a asp-area="User" asp-controller="" asp-action="">Trở về trang chủ</a></p>
    <p class="text-primary"><a asp-area="Admin" asp-controller="Cameras" asp-action="Create">Thêm thể loại</a></p>
    <p class="text-primary"><a asp-area="Admin" asp-controller="Cameras" asp-action="">Xem tất cả thể loại</a></p>
</div>