@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng đến với shop bán camera.</h1>
    <p>Điều chỉnh, xem danh sách các thể loại, vai trò <strong>Admin</strong> <a asp-area="Admin" asp-controller="Cameras" asp-action="">tại đây</a>.</p>
    <p>Điều chỉnh, xem danh sách các thể loại, vai trò <strong>User</strong> <a asp-area="User" asp-controller="Products" asp-action="">tại đây</a>.</p>
</div>
