@{
    ViewData["Title"] = "Admim - Home page";
}
<vc:big-banner Title="Admin page"
               SubTitle="Welcome to admin home page'"></vc:big-banner>
<div class="container">
    <h1>Chào mừng đến với trang quản lý</h1>
    <p>Chuyển hướng đến trang quản lý camera <a href="/Admin/Cameras" class="link-primary">tại đây</a></p>
    <p>Chuyển hướng đến trang quản lý hoá đơn <a href="/Admin/Orders" class="link-primary">tại đây</a></p>
</div>

