@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng đến với trang Admin.</h1>
    <p>Điều chỉnh, xem danh sách các thể loại <a asp-controller="Cameras" asp-action="">tại đây</a>.</p>
</div>
