@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hôm nay bạn muốn xem phim gì?</h1>
    <p>Nếu như chưa quyết định được thì <a href="/TheLoai">ấn vào đây</a> để khám phá các thể loại phim.</p>
</div>
