<!-- Banner Section Begin -->
<div class="container banner-container">
    <div class="banner set-bg" data-setbg="img/hero/banner.jpg">
        <div class="banner__text">
            <span>FRUIT FRESH</span>
            <h2>Vegetable <br />100% Organic</h2>
            <p>Free Pickup and Delivery Available</p>
            <a href="#" class="primary-btn">SHOP NOW</a>
        </div>
    </div>
</div>
<!-- Banner Section End -->