html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.create-form__input-container {
    margin-bottom: 25px;
}

.feature {
    display: flex;
    margin-top: 25px;
}

.feature p {
    margin: 0 25px;
}

.feature p:last-of-type {
    margin-right: 0;
}

.feature p:first-of-type {
    margin-left: 0;
}

.description-field {
    width: 100%;
    min-height: 320px;
    padding: .375rem .75rem;
    resize: vertical;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}