* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
    height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-left {
    border-left: 1px solid #dee2e6 !important;
}

html {
    position: relative;
    min-height: 100%;
}

.sticky {
    position: sticky !important;
    top: 0;
    z-index: 10;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.form__input-container {
    margin-bottom: 25px;
}

.feature {
    display: flex;
    margin-top: 25px;
}

.feature p {
    margin: 0 25px;
}

.feature p:last-of-type {
    margin-right: 0;
}

.feature p:first-of-type {
    margin-left: 0;
}

.description-field {
    width: 100%;
    min-height: 320px;
    padding: .375rem .75rem;
    resize: vertical;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.verticle-space {
    margin-bottom: 25px;
}

.images-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 820px;
    height: 300px;
    margin: 15px 0;
}

.images-block img {
    width: 400px;
    height: 300px;
}

ul li {
    list-style-position: inside;
}

.product-item p {
    margin-bottom: 0px;
}

.form-input__file-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px 0;
}

.form-input__file-main label {
    margin-right: 8px;
}

.form-input__file {
    display: flex;
    align-items: center;
}

.form-input__file:not(.form-input__file:first-child) {
    margin-top: 15px;
}

.form-input__file-buttons {
    height: 24px;
}

.other-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.other-buttons button {
    width: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-container img {
    width: 90%;
}

.card {
    padding: 12px 0;
}

.details {
    margin-bottom: 30px;
}

.details {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.details .details-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}

.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa !important
}

.table-product td {
    border-top: 0px solid #dee2e6 !important;
    color: #728299 !important;
    width: 50%;
}

.details-big-image img {
    width: 100%;
}

.key-features li {
    display: flex;
    align-items: center;
}

.register-section, .login-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: calc(100vh - 276px);
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: 0;
}