
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@model TheLoaiModel
<div class="container">
	<h3>Thêm thể loại</h3>
	<form method="post" id="create-form" action="">
		<article class="create-form__input-container">
			<label asp-for="Name">Tên thể loại</label>
			<input asp-for="Name" type="text" class="form-control" />
		</article>
		<article class="create-form__input-container">
			<label asp-for="DateCreated">Ngày tạo</label>
			<input asp-for="DateCreated" type="date" class="form-control" />
		</article>
		<button type="submit" class="btn btn-primary">Tạo mới</button>
	</form>
</div>
