@{
    ViewData["Title"] = ViewBag.ChiTiet.Name;
}

<h1 class="mb-4 mt-2 .text-primary">Thể loại/Chi tiết</h1>
<div class="details-content">
    <h2>Tên thể loại: @ViewBag.ChiTiet.Name</h2>
    <p><strong>Mô tả:&nbsp;&nbsp;</strong>@ViewBag.ChiTiet.Description</p>
    <p><strong>Ngày tạo:&nbsp;&nbsp;</strong>@ViewBag.ChiTiet.DateCreate</p>
</div>
<a asp-controller="TheLoai" asp-action="">Trở về</a>