@{
    ViewData["Title"] = "The Loai";
}

<h1 class="mb-4 mt-2 .text-primary">Thể loại/Tất cả</h1>
<table>
    <tr>
        <th>Số thứ tự</th>
        <th>Thể loại</th>
        <th>Ngày tạo</th>
        <th>Chức năng</th>
    </tr>
    @{
        foreach(var category in @ViewBag.TheLoai) {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>@category.DateCreated</td>
                <td>
                    <a
                        asp-controller="TheLoai"
                        asp-action="Edit"
                        asp-route-id=@category.Id
                        asp-route-name=@category.Name
                        asp-route-datecreated=@category.DateCreated
                    >
                    Chỉnh sửa
                    </a>
                </td>
            </tr>
        }
    }
</table>
<partial name="~/Views/Shared/_TheLoaiActionPartial.cshtml" />
